@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
